lzh-common/src/main/webapp/META-INF/secret.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.secret.com/schema/secret"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.secret.com/schema/secret"
            elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd">

    <xsd:element name="sign">
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="ignore" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="optional"/>
            <xsd:attribute name="type" type="xsd:string" use="required"/>
            <xsd:attribute name="skipCheck" type="xsd:boolean" use="optional"/>
            <xsd:attribute name="skipWrite" type="xsd:boolean" use="optional"/>
            <xsd:attribute name="signatureService-ref" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:appinfo>
                        <tool:annotation kind="ref">
                            <tool:expected-type type="com.lzhsite.webkits.secret.services.SignatureService"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="signatureService-type" type="xsd:token" use="optional">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[ The service class name. ]]></xsd:documentation>
                    <xsd:appinfo>
                        <tool:annotation>
                            <tool:expected-type type="com.lzhsite.webkits.secret.services.SignatureService"/>
                        </tool:annotation>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>